doctype html

block locals
- var title = "SETO-LAB | Masao Setogawa's Portfolio";

html(lang="en")
    head
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-CPKG62TNTQ")
        script
            |window.dataLayer = window.dataLayer || [];
            |function gtag(){dataLayer.push(arguments);}
            |gtag('js', new Date());
            |gtag('config', 'G-CPKG62TNTQ');
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="/favicon.ico")
        title #{title}
    body
        .container
            block content
            .footer
                small &copy; 2023 SETO-LAB
