doctype html

block locals
    - var title = "SETO-LAB | Masao Setogawa's Portfolio";

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="/favicon.ico")
        title #{title}
    body
        .container
            block content
            .footer
                small &copy; 2023 SETO-LAB
