header
    .menu
        ul
            li.menu__item
                a(href="/index.html")
                    img(src="../images/menu/menu_top.png", alt="Top")
            li.menu__item
                a(href="/index.html#portfolio")
                    img(src="../images/menu/menu_portfolio.png", alt="Portfolio")
            li.menu__item
                a(href="/index.html#skills")
                    img(src="../images/menu/menu_skills.png", alt="Skills")
            li.menu__item
                a(href="/index.html#about")
                    img(src="../images/menu/menu_about.png", alt="About")

