header
    .menu
        ul
            li.menu__item
                a(href="/")
                    img(src="../images/menu/menu_top.png", alt="TOP")
            li.menu__item
                a(href="#portfolio")
                    img(src="../images/menu/menu_portfolio.png", alt="PORTFOLIO")
            li.menu__item
                a(href="#profile")
                    img(src="../images/menu/menu_profile.png", alt="PROFILE")
            li.menu__item
                a(href="#skills")
                    img(src="../images/menu/menu_skills.png", alt="SKILLS")


