header
    .menu
        ul
            li.menu__item
                a(href="/index.html")
                    img(src="../images/menu_top.png", alt="about")
            li.menu__item
                a(href="/index.html#about")
                    img(src="../images/menu_about.png", alt="about")
            li.menu__item
                a(href="/index.html#usage")
                    img(src="../images/menu_usage.png", alt="usage")
            li.menu__item
                a(href="/index.html#producer")
                    img(src="../images/menu_producer.png", alt="producer")
            li.menu__item
                a(href="/privacypolicy.html")
                    img(src="../images/menu_privacy.png", alt="privacypolicy")
