extends _layout.pug

block locals

block content
    .main
        .wrapper
            include _menu.pug
            .main__text
                h1.main__text-h1
                    img(src="../images/top/main_title.png", alt="SETO-LAB")
                p.main__text-p
                    img(src="../images/top/main_title_txt.png", alt="Masao Setogawa's Portfolio")
            .main__border.scrolldown1
                span Scroll
    section#portfolio
        .wrapper
            .ttl
                h2
                    img(src="../images/title/ttl_portfolio.png", alt="PORTFOLIO")
            .works
                .work
                    .work-img
                        img(src="../images/arpr/arpr.gif", alt="ARPR")
                    h3
                        a(href="https://apps.apple.com/jp/app/arpr/id1615558591" target="_blank" rel="noopener")
                            |ARPR
                    p ios-ARアプリ 空間に文字を表示させて、触れることで文字を変えることができる。TicToKの自己紹介動画から着想を得て開発
                .work
                    .work-img
                        img(src="../images/sustapi/sustapi.gif", alt="サステナブル・タピオカ")
                    h3
                        a(href="https://sustapi.com" target="_blank" rel="noopener")
                            |サステナブル・タピオカ
                    p 物理エンジンと加速度センサーでタピオカを再現
                .work
                    .work-img
                        img(src="../images/nicolson/nicolson.gif", alt="誰でもジャック・ニコルソン")
                    h3 
                        a(href="https://setogawamasao.github.io/shining-JackNicholson/" target="_blank" rel="noopener")
                            |誰でもジャック・ニコルソン
                    p 顔認証技術を使って、映画シャイニングの名場面を誰でも体験できる
                .work
                    .work-img
                        .youtube-wrap
                            iframe( src="https://www.youtube.com/embed/S5dAuXzZ19g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    h3
                        a(href="http://setomasa.com/nimaru3/clip.html" target="_blank" rel="noopener")
                            |にいまるカメラ
                    p 日向坂46斎藤京子が生み出したキャラ、にいまるをARアプリ化
                .work
                    .work-img
                        .youtube-wrap
                            iframe(src="https://www.youtube.com/embed/n3C8z0SFgHE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)                    h3 PIs
                            //- iframe(width="560" height="315" src="https://www.youtube.com/embed/tcIQE-7sUHc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            //- iframe(width="560" height="315" src="https://www.youtube.com/embed/LeQ6DVOlWiQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    h3 
                        a(href="https://setogawamasao.github.io/pis-mirror2/" target="_blank" rel="noopener")
                            |PIs
                    p 360度カメラで撮影した空間にARオブジェクトを配置できる
                .work
                    .work-img
                        .youtube-wrap
                            iframe(src="https://www.youtube.com/embed/YK5E6FevNw0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    h3 
                        a(href="https://setomasa.com/babigo/index.php" target="_blank" rel="noopener")
                            |バビ語学習アプリ
                    p バビ語専用の学習アプリ
                .work
                    .work-img
                            img(src="../images/matching/matching.png", alt="matching")
                    h3 
                        a(href="https://setomasa.com/matchingM/index.php" target="_blank" rel="noopener")
                            |せとがわまさお<br>マッチングアプリ
                    p 瀬戸川将夫とのマッチング率がわかるアプリ
    section#profile
        .wrapper
            .ttl
                h2
                    img(src="../images/title/ttl_profile.png", alt="PROFILE")
            .content
                .box.box-left
                    h3
                        img(src="../images/about/producer_txt01.png", alt="瀬戸川 将夫")
                    p.h3-caption
                        img(src="../images/about/producer_Txt02.png", alt="Masao Setogawa")
                    a.mail(href="mailto:masao.setogawa@gmail.com")
                        |masao.setogawa@gmail.com
                    .sns-link
                        a(href="https://twitter.com/masaosetogawa")
                            img(src="../images/sns-logos/twitter_80.png",width="40", alt="twitter")
                        a(href="https://www.instagram.com/masaosetogawa")
                            img(src="../images/sns-logos/instagram_80.png",width="40", alt="instagram")
                        a(href="https://www.tiktok.com/@setomasa1224")
                            img(src="../images/sns-logos/tiktok_80.png",width="40", alt="tiktok")
                        a(href="https://www.youtube.com/channel/UC-IQyvOjAJE1f-EX7E-RdRQ")
                            img(src="../images/sns-logos/youtube_80.png",width="40", alt="youtube")
                        a(href="https://github.com/setogawamasao")
                            img(src="../images/sns-logos/github_80.png",width="40", alt="github")
                        a(href="https://note.com/setogawa_masao")
                            img(src="../images/sns-logos/note_80.png",width="40", alt="note")
                    table
                        tr
                            th 2013年
                        tr
                            td 電気通信大学電気通信学部知能機械工学科卒業
                        tr
                            th 2015年
                        tr
                            td 電気通信大学大学院<br>情報理工学研究科知能機械工学専攻<br>修士課程修了
                        tr
                            th 2015年 - 2023年
                        tr
                            td 某IT企業でSIerとして勤務
                .box.box-right
                    img(src="../images/about/producer_img01.png")

    section#skills
        .wrapper
            .ttl
                h2
                    img(src="../images/title/ttl_skills.png", alt="SKILLS")
            .table-wrapper
                table
                    tr
                        th Coding languages
                    tr
                        td HTML/CSS, Javascript, Typescript, C#, PHP, Swift, VB, VBA
                    tr
                        th Database
                    tr
                        td Oracle Database, Microsoft SQL Server, MySQL ,PostgreSQL, Access
                    tr
                        th Middleware
                    tr
                        td Node.js, Vue, Nuxt.js, React, Next.js, Docker
                    tr
                        th Others
                    tr
                        td Git, Subversion(SVN)
