extends _layout.pug

block locals

block content
    .main
        .wrapper
            include _menu.pug
            .main__text
                h1.main__text-h1
                    img(src="../images/main_title.png", alt="SETO-LAB")
                p.main__text-p
                    img(src="../images/main_title_txt.png", alt="Masao Setogawa's Portfolio")
            .main__border.scrolldown1
                span Scroll
    section#about
        .about
            .content
                .about__contents.about__contents-01
                    .wrapper
                        .ttl
                            h2
                                img(src="../images/ttl_portfolio.png", alt="Portfolio")
                        .box.box-left
                            h3
                                |ARPR
                            p.h3-caption
                                |iosのARアプリ
                                <br>空間に文字を表示させて、触れることで文字を変えることができる
                                <br>TicToKの自己紹介動画を簡単に作ることできる

                        .box.box-right
                            img(src="../images/arpr/arpr.gif", alt="ARPR")
                .about__contents.about__contents-01
                    .wrapper
                        .box.box-left
                            h3
                                |サステナブル・タピオカ
                            p.h3-caption
                                |物理エンジンと加速度センサーでタピオカを再現
                        .box.box-right
                            img(src="../images/sustapi/sustapi.gif", alt="サステナブル・タピオカ")
                .about__contents.about__contents-01
                    .wrapper
                        .box.box-left
                            h3
                                |誰でもジャック・ニコルソン
                            p.h3-caption
                                |顔認証の技術を使って、映画シャイニングの名場面を再現
                        .box.box-right
                            img(src="../images/nicolson/nicolson.gif", alt="誰でもジャック・ニコルソン")
    section#skills
        .wrapper
            .ttl
                h2
                    img(src="../images/ttl_skills.png", alt="Skills")
            .content
                .box.box-left
                    table
                        tr
                            th Coding languages
                        tr
                            td HTML/CSS, Javascript, Typescript, C#, PHP, Swift, VB, VBA
                        tr
                            th Database
                        tr
                            td Oracle Database, Microsoft SQL Server, MySQL ,PostgreSQL, Access
                        tr
                            th Middleware
                        tr
                            td Node.js, Vue, Nuxt.js, React, Next.js, Docker
                        tr
                            th Others
                        tr
                            td Git, Subversion(SVN)

    section#producer
        .wrapper
            .ttl
                h2
                    img(src="../images/ttl_about.png", alt="About")
            .content
                .box.box-left
                    h3
                        img(src="../images/producer_txt01.png", alt="瀬戸川 将夫")
                    p.h3-caption
                        img(src="../images/producer_Txt02.png", alt="Masao Setogawa")
                    a.mail(href="mailto:setogawa.m@gmail.com")
                        |setogawa.m@gmail.com
                    img(src="../images/sns-logos/Twitter_80.png",width="40", alt="Twitter")
                    img(src="../images/sns-logos/Instagram_80.png",width="40", alt="instagram")
                    table
                        tr
                            th 2013年
                        tr
                            td 電気通信大学電気通信学部知能機械工学科卒業
                        tr
                            th 2015年
                        tr
                            td 電気通信大学大学院<br>情報理工学研究科知能機械工学専攻<br>修士課程修了
                        tr
                            th 2015年～2023年
                        tr
                            td 某IT企業でSIerとして勤務
                .box.box-right
                    img(src="../images/producer_img01.png")
