/*****************************************

基本設定とPCSP共通設定はこのファイルに入れる

*****************************************/
@charset 'utf-8';

@import "mixin/_mixin.scss";
@import "mixin/_fonts.scss";

/*--------------------------------------
カラー設定
---------------------------------------*/
$main_color: #335A82;
$accent_color: #B10000;
$accent_lightcolor: #f198a7;
$third_color: #fff9ce;

$bgcolor_blue: #e9f7ff;
$bgcolor_pink: #fff8f9;
$bgcolor_yellow: #fffae9;
$bgcolor_gold: #bca55e;

/*--------------------------------------
フォント設定
---------------------------------------*/
//見出し
$h_font: "font_hiragino";
//テキスト
$base_font: "font_hiragino";
$base_font_color: #333333;
//$base_font_hover_color: #960049;
$sub_font_color: #2380b8;

//ヒラギノ 使い方→@include font_hiragino;
@mixin font_hiragino {
  font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro",
    "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
    "メイリオ", Meiryo, sans-serif;
}

//明朝体　使い方→@include font_serif;
@mixin font_serif {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
}

//NotoSansCJKjp（ゴシック体）
// @include font-face(
//   "font_notosans_r",
//   "../fonts/NotoSansCJKjp-Regular",
//   400,
//   null,
//   woff eot ttf
// );
// @include font-face(
//   "font_notosans_bo",
//   "../fonts/NotoSansCJKjp-Bold",
//   700,
//   null,
//   woff eot ttf
// );
// @include font-face(
//   "font_notosans_bl",
//   "../fonts/NotoSansCJKjp-Black",
//   900,
//   null,
//   woff eot ttf
// );

// //NotoSerifCJKjp（明朝体）
// @include font-face(
//   "font_notoserif_r",
//   "../fonts/NotoSerifCJKjp-Regular",
//   400,
//   null,
//   woff eot ttf
// );
// @include font-face(
//   "font_notoserif_bo",
//   "../fonts/NotoSerifCJKjp-Bold",
//   700,
//   null,
//   woff eot ttf
// );
// @include font-face(
//   "font_notoserif_bl",
//   "../fonts/NotoSerifCJKjp-Black",
//   900,
//   null,
//   woff eot ttf
// );

/*--------------------------------------
画像設定
---------------------------------------*/
//本番とテストでURL分けたい時に使うと良いよ
$img_path: "";

/*--------------------------------------
リセット系
---------------------------------------*/
a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
tbody,
tfoot,
thead,
tt,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix {
  clear: both;
  min-height: 1px;
}
* html .clearfix {
  height: 1px;
}
p,
li,
small,
span,
figcaption {
  @include font_hiragino;
}
a {
  @include font_hiragino;
  text-decoration: none;
  color: $main_color
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font_hiragino;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

/*form関連*/
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/*--------------------------------------
よく使うやつ
---------------------------------------*/
.txt_center {
  text-align: center !important;
}
.block_center {
  margin-left: auto !important;
  margin-right: auto !important;
}
.txt_left {
  text-align: left !important;
}
.txt_right {
  text-align: right !important;
}
.txt_red {
  color: #f33;
}
.txt_underline {
  text-decoration: underline;
}
.fleft {
  display: block;
  float: left;
}
.fright {
  display: block;
  float: right;
}
.mb0 {
  margin-bottom: 0 !important;
}

/****** フォントサイズ調整 ******/

html {
  /* ルートのフォントサイズを10pxに設定しておく */
  font-size: 62.5%;
}

//*--------------------------------------
//PC
//---------------------------------------*/
@media print, screen and (min-width: 768px) {
  $screen_type: pc;
  body {
    position: relative;
    z-index: 1;
    font-size: 1.6em; /* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
  }
  .sp {
    display: none !important;
  }
  a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.7;
    }
  }
  .hover_none {
    &:hover {
      opacity: 1;
    }
  }
  @import "parts/pc/_header.scss";
  @import "parts/pc/_footer.scss";
  @import "parts/pc/_contents.scss";

  //ページごとのファイルは下記に
  @import 'pages/pc/_top.scss';
}
//*--------------------------------------
//SP
//---------------------------------------*/
@media screen and (max-width: 767px) {
  $screen_type: sp;
  body {
    position: relative;
    z-index: 2;
    font-size: 1.4em;
  }
  .pc {
    display: none !important;
  }

  @import "parts/sp/_header.scss";
  @import "parts/sp/_footer.scss";
  @import "parts/sp/_contents.scss";

  //ページごとのファイルは下記に
  @import 'pages/sp/_top.scss';
}
