/*TOP*/
body {
  height: 100%;
}
html {
  height: 100%;
}
.container {
  background-image: url("../images/background/footer_bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  font-size: 1.6em;
}

.content {
  margin: 80px 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0 5%;
  height: 100%;
}

.main {
  background-image: url(../images/background/main_img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  //   max-height: 600px;
  height: 100vh;
  position: relative;
  &__text {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 12rem;
    img {
      width: 65%;
    }
    canvas {
      width: 65% !important;
      height: auto !important;
    }
    &-h1 {
      text-align: center;
    }
    &-p {
      text-align: center;
    }
  }
}

//scroll
/*====== 9-1-1 縦線が動いてスクロールを促す =======*/

/*スクロールダウン全体の場所*/
.scrolldown1 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  right: 10%;
  bottom: 0;
  /*全体の高さ*/
  height: 200px;
}

/*Scrollテキストの描写*/
.scrolldown1 span {
  /*描画位置*/
  position: absolute;
  left: -0.6rem;
  top: 10px;
  /*テキストの形状*/
  color: #eee;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  transform: rotate(90deg);
}

/* 線の描写 */
.scrolldown1::after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 0;
  /*線の形状*/
  width: 1px;
  height: 200px;
  background: #eee;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 3s ease-in-out infinite;
  opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 150px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 200px;
    opacity: 0;
  }
}

header {
  padding: 30px 0;
  @include clearfix;
}
.menu {
  float: right;
  &__item {
    text-align: right;
    margin-left: 16px;
  }
}
.ttl {
  position: relative;
  h2 {
    display: inline-block;
    border-bottom: 2px solid #c21500;
    border-image: linear-gradient(
      to right,
      #00ad00 0%,
      #6de3fc 50%,
      #9464fe 100%
    );
    border-image-slice: 1;
    &::before {
      position: absolute;
      width: 500px;
      content: "";
      bottom: 0;
      left: -500px;
      border-bottom: 2px solid #c21500;
      border-image: linear-gradient(
        to left,
        #00ad00 0%,
        #6de3fc 50%,
        #9464fe 100%
      );
      border-image-slice: 1;
    }
  }
}

#portfolio {
  margin: 100px 0;
  background-image: url("../images/background/usage_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .works {
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 40px;
    .work {
      width: 100%;
      &-img {
        text-align: center;
        background-color: #000;
        margin-bottom: 15px;
      }

      .youtube-wrap {
        padding-top: 56.25%;
        width: 100%;
        position: relative;

        iframe {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
        }
      }

      h3 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 6px;
        text-decoration: underline;
      }
    }
  }
}

#skills {
  .table-wrapper {
    margin: 60px 0;
  }
  table {
    th {
      text-align: left;
    }
    th,
    td {
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 6px;
    }
  }
}

#profile {
  margin-bottom: 60px;
  .content {
    margin-top: 60px;
    display: flex;
    flex-direction: column-reverse;
  }
  .box-right {
    width: 80%;
    margin: auto auto 40px;
  }
  .box-left {
    text-align: center;
  }
  h3 {
    margin-bottom: 24px;
  }
  .h3-caption {
    margin-bottom: 30px;
  }
  .mail {
    color: #0081f6;
    display: inline-block;
    margin-bottom: 54px;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
  }

  table {
    th {
      text-align: left;
    }
    th,
    td {
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;
      padding-bottom: 6px;
    }
  }

  .sns-link {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 40px;
  }
}

.footer {
  text-align: center;
  padding-bottom: 10px;
  .appstore_icon {
    display: inline-block;
    text-align: center;
    margin: 0 auto 100px;
    img {
      height: 100px;
    }
  }
  small {
    display: block;
    font-size: 12px;
  }
}

#privacy {
  // background: -webkit-linear-gradient(0deg, #00ad00, #6de3fc, #9464fe);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  .header_menu {
    background-image: url(../images/background/main_img.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  header {
    max-width: 980px;
    width: calc(100% - 44px);
    margin: 0 auto;
    padding: 30px 22px;
  }
}
.privacy {
  padding-top: 60px;
  padding-bottom: 60px;
  h1 {
    margin-bottom: 20px;
    color: #ff8c00;
    background: -webkit-linear-gradient(0deg, #00ad00, #6de3fc, #9464fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h2 {
    font-size: 2.2rem;
    margin-bottom: 1.6rem;
  }
  p {
    margin-bottom: 1.6rem;
  }
  .list_wrap {
    margin-bottom: 1.6rem;
    li {
      list-style: disc;
      list-style-position: inside;
    }
  }
  .footer {
    height: 1rem;
  }
}
