@charset "UTF-8";
/*****************************************

基本設定とPCSP共通設定はこのファイルに入れる

*****************************************/
/*--------------------------------------
カラー設定
---------------------------------------*/
/*--------------------------------------
フォント設定
---------------------------------------*/
/*--------------------------------------
画像設定
---------------------------------------*/
/*--------------------------------------
リセット系
---------------------------------------*/
a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
tbody,
tfoot,
thead,
tt,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  clear: both;
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
}

p,
li,
small,
span,
figcaption {
  font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif;
}

a {
  font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  text-decoration: none;
  color: #335A82;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

/*form関連*/
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/*--------------------------------------
よく使うやつ
---------------------------------------*/
.txt_center {
  text-align: center !important;
}

.block_center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.txt_left {
  text-align: left !important;
}

.txt_right {
  text-align: right !important;
}

.txt_red {
  color: #f33;
}

.txt_underline {
  text-decoration: underline;
}

.fleft {
  display: block;
  float: left;
}

.fright {
  display: block;
  float: right;
}

.mb0 {
  margin-bottom: 0 !important;
}

/****** フォントサイズ調整 ******/
html {
  /* ルートのフォントサイズを10pxに設定しておく */
  font-size: 62.5%;
}

@media print, screen and (min-width: 768px) {
  body {
    position: relative;
    z-index: 1;
    font-size: 1.6em;
    /* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
  }

  .sp {
    display: none !important;
  }

  a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  a:hover {
    opacity: 0.7;
  }

  .hover_none:hover {
    opacity: 1;
  }

  /*****************************************

  ヘッダー　PC

  *****************************************/
  a[href^="tel:"] {
    pointer-events: none;
  }

  /*button reset*/
  button {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    color: inherit;
    vertical-align: middle;
    text-align: inherit;
    font: inherit;
    -webkit-appearance: none;
    appearance: none;
  }

  /*****************************************

  フッター　PC

  *****************************************/
  footer {
    background-color: #335A82;
  }
  footer .footer {
    max-width: 980px;
    margin: 0 auto;
    padding: 40px 20px;
    color: #fff;
    font-weight: bold;
  }
  footer .footer:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
  footer .footer a {
    color: #fff;
    font-weight: bold;
  }
  footer .footer__address {
    float: right;
  }
  footer .footer__logo {
    margin-top: 20px;
  }
  footer .footer__logo img {
    height: 100px;
  }
  footer .footer__nav {
    float: left;
  }
  footer .footer__nav ul:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
  footer .footer__nav ul > li {
    float: left;
    width: 170px;
  }
  footer .footer__nav ul a {
    display: inline-block;
    margin-bottom: 12px;
    position: relative;
    padding-left: 21px;
    font-size: 1.4rem;
  }
  footer .footer__nav ul a::before {
    position: absolute;
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-right: solid 2px #fff;
    border-bottom: solid 2px #fff;
    transform: rotate(-45deg);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  footer .info {
    background-color: #000;
    text-align: center;
    padding: 8px 0;
  }
  footer .info small {
    color: #fff;
    font-size: 12px;
  }

  /*****************************************

  PCの共通設定はこのファイルに入れる

  *****************************************/
  /*共通*/
  /*TOP*/
  body {
    height: 100%;
  }

  html {
    height: 100%;
  }

  .container {
    background-image: url(/images/footer_bg-6561b4e5186da975c9e0.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  h1 {
    font-size: 2em;
  }

  .content {
    margin: 100px 0;
  }

  .wrapper {
    max-width: 980px;
    width: calc(100% - 44px);
    margin: 0 auto;
    padding: 0 22px;
    height: 100%;
  }

  .main {
    background-image: url(/images/main_img-4da817906f4ae931f154.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 440px;
    height: 100vh;
    position: relative;
  }
  .main__text {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 18rem;
  }
  .main__text-h1 {
    margin-left: -20px;
  }
  .main__text-p {
    margin-top: -10px;
  }

  /*====== 9-1-1 縦線が動いてスクロールを促す =======*/
  /*スクロールダウン全体の場所*/
  .scrolldown1 {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    right: 10%;
    bottom: 0;
    /*全体の高さ*/
    height: 200px;
  }

  /*Scrollテキストの描写*/
  .scrolldown1 span {
    /*描画位置*/
    position: absolute;
    left: -0.6rem;
    top: 10px;
    /*テキストの形状*/
    color: #eee;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    transform: rotate(90deg);
  }

  /* 線の描写 */
  .scrolldown1::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 0;
    /*線の形状*/
    width: 1px;
    height: 200px;
    background: #eee;
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: pathmove 3s ease-in-out infinite;
    opacity: 0;
  }

  /*高さ・位置・透過が変化して線が上から下に動く*/
  @keyframes pathmove {
    0% {
      height: 0;
      top: 0;
      opacity: 0;
    }
    30% {
      height: 150px;
      opacity: 1;
    }
    100% {
      height: 0;
      top: 200px;
      opacity: 0;
    }
  }
  header {
    padding: 30px 0;
  }
  header:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }

  .menu {
    float: right;
  }
  .menu__item {
    float: left;
    margin-left: 16px;
  }

  .ttl {
    position: relative;
  }
  .ttl h2 {
    display: inline-block;
    border-bottom: 2px solid #c21500;
    border-image: linear-gradient(to right, #00ad00 0%, #6de3fc 50%, #9464fe 100%);
    border-image-slice: 1;
  }
  .ttl h2::before {
    position: absolute;
    width: 500px;
    content: "";
    bottom: 0;
    left: -500px;
    border-bottom: 2px solid #c21500;
    border-image: linear-gradient(to left, #00ad00 0%, #6de3fc 50%, #9464fe 100%);
    border-image-slice: 1;
  }

  .about__contents:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
  .about__contents .box-left {
    float: left;
  }
  .about__contents .box-right {
    float: right;
  }
  .about__contents-01 {
    background-image: url(/images/about_bg01-127994c2938548bf4f2f.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about__contents-02 {
    margin-top: 150px;
    background-image: url(/images/about_bg02-236e1e39f5d08696190a.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
  }
  .about h3 {
    font-size: 6rem;
    margin-top: 170px;
  }
  .about .h3-caption {
    margin-top: 42px;
    font-size: 2.2rem;
  }

  #usage {
    background-image: url(/images/usage_bg-c85b1b37ecb7b415e5be.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 200px;
    padding-bottom: 150px;
  }
  #usage .ttl {
    margin-bottom: 60px;
  }
  #usage .video {
    text-align: center;
  }
  #usage .video video {
    height: 80vh;
    border-radius: 40px;
    box-shadow: 4px 4px 6px gray;
  }

  #producer {
    margin-bottom: 200px;
  }
  #producer .content {
    display: flex;
    justify-content: space-between;
  }
  #producer .box {
    width: 48%;
  }
  #producer h3 {
    margin-bottom: 24px;
  }
  #producer .h3-caption {
    margin-bottom: 44px;
  }
  #producer .mail {
    color: #0081f6;
    display: inline-block;
    margin-bottom: 54px;
  }
  #producer table th {
    text-align: left;
  }
  #producer table th, #producer table td {
    padding-bottom: 6px;
  }

  .footer {
    text-align: center;
    padding-bottom: 10px;
  }
  .footer .appstore_icon {
    display: inline-block;
    text-align: center;
    margin: 80px auto;
  }
  .footer .appstore_icon img {
    height: 80px;
  }
  .footer small {
    display: block;
    font-size: 12px;
  }

  #privacy .header_menu {
    background-image: url(/images/main_img-4da817906f4ae931f154.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #privacy header {
    max-width: 980px;
    width: calc(100% - 44px);
    margin: 0 auto;
    padding: 30px 22px;
  }

  .privacy {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .privacy h1 {
    margin-bottom: 20px;
    color: #ff8c00;
    background: -webkit-linear-gradient(0deg, #00ad00, #6de3fc, #9464fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .privacy h2 {
    font-size: 2.2rem;
    margin-bottom: 1.6rem;
  }
  .privacy p {
    margin-bottom: 1.6rem;
  }
  .privacy .list_wrap {
    margin-bottom: 1.6rem;
  }
  .privacy .list_wrap li {
    list-style: disc;
    list-style-position: inside;
  }
  .privacy .footer {
    height: 1rem;
  }
}
@media screen and (max-width: 767px) {
  body {
    position: relative;
    z-index: 2;
    font-size: 1.4em;
  }

  .pc {
    display: none !important;
  }

  /*****************************************

  ヘッダー　PC

  *****************************************/
  a[href^="tel:"] {
    pointer-events: none;
  }

  /*button reset*/
  button {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    color: inherit;
    vertical-align: middle;
    text-align: inherit;
    font: inherit;
    -webkit-appearance: none;
    appearance: none;
  }

  /*****************************************

  フッター　SP

  *****************************************/
  /*****************************************

  PCの共通設定はこのファイルに入れる

  *****************************************/
  /*共通*/
  /*TOP*/
  body {
    height: 100%;
  }

  html {
    height: 100%;
  }

  .container {
    background-image: url(/images/footer_bg-6561b4e5186da975c9e0.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  h1 {
    font-size: 1.6em;
  }

  .content {
    margin: 80px 0;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 0 5%;
    height: 100%;
  }

  .main {
    background-image: url(/images/main_img-4da817906f4ae931f154.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  .main__text {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 12rem;
  }
  .main__text img {
    width: 65%;
  }
  .main__text-h1 {
    margin-left: -15px;
    text-align: center;
  }
  .main__text-p {
    margin-top: -10px;
    text-align: center;
  }

  /*====== 9-1-1 縦線が動いてスクロールを促す =======*/
  /*スクロールダウン全体の場所*/
  .scrolldown1 {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    right: 10%;
    bottom: 0;
    /*全体の高さ*/
    height: 200px;
  }

  /*Scrollテキストの描写*/
  .scrolldown1 span {
    /*描画位置*/
    position: absolute;
    left: -0.6rem;
    top: 10px;
    /*テキストの形状*/
    color: #eee;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    transform: rotate(90deg);
  }

  /* 線の描写 */
  .scrolldown1::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 0;
    /*線の形状*/
    width: 1px;
    height: 200px;
    background: #eee;
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: pathmove 3s ease-in-out infinite;
    opacity: 0;
  }

  /*高さ・位置・透過が変化して線が上から下に動く*/
  @keyframes pathmove {
    0% {
      height: 0;
      top: 0;
      opacity: 0;
    }
    30% {
      height: 150px;
      opacity: 1;
    }
    100% {
      height: 0;
      top: 200px;
      opacity: 0;
    }
  }
  header {
    padding: 30px 0;
  }
  header:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }

  .menu {
    float: right;
  }
  .menu__item {
    text-align: right;
    margin-left: 16px;
  }

  .ttl {
    position: relative;
  }
  .ttl h2 {
    display: inline-block;
    border-bottom: 2px solid #c21500;
    border-image: linear-gradient(to right, #00ad00 0%, #6de3fc 50%, #9464fe 100%);
    border-image-slice: 1;
  }
  .ttl h2::before {
    position: absolute;
    width: 500px;
    content: "";
    bottom: 0;
    left: -500px;
    border-bottom: 2px solid #c21500;
    border-image: linear-gradient(to left, #00ad00 0%, #6de3fc 50%, #9464fe 100%);
    border-image-slice: 1;
  }

  .about__contents:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
  .about__contents .box {
    margin: 40px 0;
  }
  .about__contents-01 {
    background-image: url(/images/about_bg01-127994c2938548bf4f2f.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about__contents-01 .box-right {
    text-align: center;
  }
  .about__contents-02 {
    background-image: url(/images/about_bg02-236e1e39f5d08696190a.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
  }
  .about__contents-02 .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .about__contents-02 .box-right {
    margin-bottom: 40px;
  }
  .about__contents-02 .box-left {
    text-align: center;
  }
  .about h3 {
    font-size: 4rem;
    margin-top: 40px;
    line-height: 1.4;
  }
  .about .h3-caption {
    margin-top: 8px;
    font-size: 2rem;
  }

  #usage {
    background-image: url(/images/usage_bg-c85b1b37ecb7b415e5be.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding-bottom: 100px;
  }
  #usage .ttl {
    margin-bottom: 60px;
  }
  #usage .video {
    text-align: center;
  }
  #usage .video video {
    width: 100%;
    border-radius: 40px;
    box-shadow: 4px 4px 6px gray;
  }

  #producer {
    margin-bottom: 60px;
  }
  #producer .content {
    margin-top: 60px;
    display: flex;
    flex-direction: column-reverse;
  }
  #producer .box-right {
    width: 80%;
    margin: auto auto 40px;
  }
  #producer .box-left {
    text-align: center;
  }
  #producer h3 {
    margin-bottom: 24px;
  }
  #producer .h3-caption {
    margin-bottom: 30px;
  }
  #producer .mail {
    color: #0081f6;
    display: inline-block;
    margin-bottom: 54px;
  }
  #producer table th {
    text-align: left;
  }
  #producer table th, #producer table td {
    text-align: left;
    padding-bottom: 6px;
  }

  .footer {
    text-align: center;
    padding-bottom: 10px;
  }
  .footer .appstore_icon {
    display: inline-block;
    text-align: center;
    margin: 0 auto 100px;
  }
  .footer .appstore_icon img {
    height: 100px;
  }
  .footer small {
    display: block;
    font-size: 12px;
  }

  #privacy .header_menu {
    background-image: url(/images/main_img-4da817906f4ae931f154.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #privacy header {
    max-width: 980px;
    width: calc(100% - 44px);
    margin: 0 auto;
    padding: 30px 22px;
  }

  .privacy {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .privacy h1 {
    margin-bottom: 20px;
    color: #ff8c00;
    background: -webkit-linear-gradient(0deg, #00ad00, #6de3fc, #9464fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .privacy h2 {
    font-size: 2.2rem;
    margin-bottom: 1.6rem;
  }
  .privacy p {
    margin-bottom: 1.6rem;
  }
  .privacy .list_wrap {
    margin-bottom: 1.6rem;
  }
  .privacy .list_wrap li {
    list-style: disc;
    list-style-position: inside;
  }
  .privacy .footer {
    height: 1rem;
  }
}
